{% load create_menu %}
<ul>
{% if main_menu %}
    {% for menu in main_menu %}
        {% if menu.url == menu_url %}
            <strong><li><a href="{% url 'menu' menu.url %}">{{ menu.name }}</a> </li></strong>
        {% else %}
            <li><a href="{% url 'menu' menu.url %}">{{ menu.name }}</a> </li>
        {% endif %}
        {% if base != None %}
            {% if menu_url == menu.url %}
                {% children left menu_url base %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
</ul>